[Unit]
Description=mcafee-collector: McAfee Events collector, parser to CEF format and forwarder to Syslog or Local File
Documentation=https://github.com/CodingFree/McAfee-MVISION-ePO-API
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root

ExecStart=/usr/bin/python3 /opt/mcafee-collector/bin/main.py -u $MCAFEE_USER -c $MCAFEE_CLIENT_ID -p $MCAFEE_PASSWORD -l $LOG_FILE_OPT -s 30 -S -B tcp -P 25226
ExecStop=/bin/kill -TERM ${MAINPID}
ExecReload=/bin/kill -HUP ${MAINPID}
EnvironmentFile=/opt/mcafee-collector/conf/config.env
Restart=always
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
